.questions p {
    margin-bottom: 0.8rem;
}

.questions h3 {
    margin-bottom: 2rem;
    padding: 0 1.5rem;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.options-container p {
    margin-bottom: 0;
}