.option {
    background-color: #3C0E70;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
    width: 80%;
}

.option:hover {
    opacity: 1;
    transform: scale(1.1);
}

.correct {
    background-color: #0BFC03;
    font-weight: bold;
}

.wrong {
    background-color: rgb(204, 8, 8);
    opacity: 0.4;
}