* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  color: #FFF;
}

html, body {
  min-height: 100vh;
  height: 100%;
  background-color: #130326;
}

img {
  max-width: 70%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: .8rem 1.5rem;
  background: linear-gradient(
    19deg, 
    #1420da 0%, 
    #800dc3 100%
  );
  border-radius: 3rem;
  border: none;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(
    19deg, 
    #1e2ad8 0%, 
    #5408bf 100%
  );
}

@media screen and (min-width: 768px) {
  img {
    max-width: 50%;
  }
}